{% extends 'base.html.twig' %}
{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("assets/css/homeindex.css") }}">
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="{{ asset("assets/js/validate.js") }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
  integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block sidebar %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<div class="title-text">
			<div class="title signup">USER REGISTRATION</div>
		</div>
		<div class="form-container">
			<div class="form-inner">
				<form action="/register" class="signup" method="POST" enctype="multipart/form-data">
					<div class="field" id="fName">
						<input type="text" placeholder="First Name" name="fName" required>
						<span class="error">
							{% if error["fName"] is defined %}
								{{ error["fName"] }}
							{% endif %}
						</span>

					</div>

					<div class="field" id="lName">
						<input type="text" placeholder="Last Name" name="lName" required>
						<span class="error">
							{% if error["lName"] is defined %}
								{{ error["lName"] }}
							{% endif %}
						</span>
					</div>

					<div class="field" id="emailId">
						<input type="text" placeholder="Email Address" name="emailId" required>
						<span class="error">
							{% if error["emailId"] is defined %}
								{{ error["emailId"] }}
							{% endif %}
						</span>
					</div>

					<div class="field" id="password">
						<div class="password-input">
							<input type="password" placeholder="Password" id="pass" name="password" required>
								<i id="eye" class="fa-regular fa-eye"></i>
							</input>
						</div>
						<span class="error">
							{% if error["password"] is defined %}
								{{ error["password"] }}
							{% endif %}
						</span>
					</div>

					<div class="field pass-instruction">
						<p>Password should be 8-15 character and contains
							<br>
							atleast 1 uppcase
							<br>
							atleast 1 lowercase
							<br>
							atleast 1 special character(@ , # , $ , ? , ! , % , &)<br>
							atleast 1 number</p>
					</div>

          <div class="field interest">
            <h4>You are interested in ...</h4>
            <div id="interest-selection">
              <div class="interest-item">
                <label for="lofi">Lofi</label>
                <input type="checkbox" name="interest[]" id="lofi" value="lofi">
              </div>

              <div class="interest-item">
                <label for="classic">Classic</label>
                <input type="checkbox" name="interest[]" id="classic" value="classic">
              </div>

              <div class="interest-item">
                <label for="modern">Modern</label>
                <input type="checkbox" name="interest[]" id="modern" value="modern">
              </div>
            </div>
					</div>

					<div class="field btn">
						<div class="btn-layer"></div>
						<input type="submit" value="Register" id="submit-btn">
					</div>

					<div class="field btn">
						<div class="btn-layer"></div>
						<button>
							<a href="/">Go Back</a>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}

